# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
assets/
build/
coverage/
cjs/
dist/
dts/
esm/
lib/
mjs/
tmp/
node_modules/
test/

# Required for testing
!tests/__fixtures__/project/dts
!tests/__fixtures__/validate-files/cjs
!tests/__fixtures__/validate-files/esm
!tests/__fixtures__/validate-files/lib

# Custom
*.min.js
*.map

# Configs
.babelrc
.eslintignore
/.eslintrc.js
.flowconfig
/.prettierignore
/babel.config.js
/jest.config.js
/prettier.config.js
/webpack.config.js
*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
