# Logs
logs/
*.log

# Cache
.docusaurus
.eslintcache
.idea
.npm
.vscode
.yarnclean
.parcel-cache

# Directories
assets/
build/
coverage/
cjs/
dist/
dts/
esm/
lib/
mjs/
tmp/
umd/
node_modules/
test/
scenarios/*/build.js

# Required for testing
!tests/__fixtures__/project/dts
!tests/__fixtures__/validate-files/cjs
!tests/__fixtures__/validate-files/esm
!tests/__fixtures__/validate-files/lib
scripts/swc

# Custom
*.min.js
*.map

# Configs
.flowconfig
/webpack.config.js
*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# moon
.moon/cache
.moon/docker
